body {
  font-family: "Nova Mono", monospace;
}
.searchCity {
  position: fixed;
  top: 0;
  right: 0;
  padding: 10px;
}
.fullDoc {
  display: block;
  border: 1px solid #000;
  border-radius: 20px;
  margin: 50px auto;
  padding: 20px 30px;
  max-width: 800px;
}

p {
  text-decoration: underline;
}

ul {
  list-style: none;
}

.currentCity {
  font-weight: bold;
  font-size: 38px;
}

.currentDate {
  font-size: 15px;
  font-style: italic;
  font-weight: lighter;
}

.currentTemp {
  font-weight: bold;
  font-size: 34px;
}

.forecast {
  font-size: 25px;
}
