body {
  font-family: "Montserrat", sans-serif;
}

.fullDoc {
  display: block;
  border: 1px solid #b8b8b8;
  border-radius: 10px;
  margin: 50px auto;
  padding: 20px 30px;
  max-width: 700px;
  background-color: #87d4c5;
}

#submitSearch {
  margin-right: 10px;
}

ul {
  list-style: none;
}

.currentCity {
  font-weight: bold;
  font-size: 38px;
}

.currentDate {
  font-size: 18px;
  font-style: italic;
  font-weight: 200;
  padding-bottom: 10px;
  padding-top: 10px;
}

#currentDetails {
  font-size: 15px;
  display: block;
}

#currentTemp {
  font-weight: bold;
  font-size: 38px;
  margin-top: 50px;
}

.currentConditions {
  position: relative;
  font-style: italic;
  font-size: 15px;
  margin-left: 75px;
}

#currentEmoji {
  margin-top: 30px;
  margin-left: 50px;
  width: 100px;
}

.units {
  font-size: 20px;
  position: relative;
  top: -10px;
}
p {
  display: inline;
  font-size: 20px;
  position: relative;
  top: -10px;
}

.card-title {
  font-size: 18px;
}
.forecast {
  font-size: 25px;
  font-style: italic;
}
.forecastTemp {
  font-size: 18px;
}

.forecastEmoji {
  width: 65px;
  display: block;
  margin: 0 auto;
}

.changeUnit {
  text-align: center;
  padding: 10px;
}

footer {
  text-align: center;
}
